<div id="masthead">
  <div id="branding">
    <h1><a id="logo" href="/"></a></h1>
    <h3 id="tagline">{{ site.description }}</h3>
  </div>
  <div id="banner" onclick="location.href='/';" style="cursor: pointer;">
    <div id="banner-credit" title="Creative Commons">
      Banner images courtesy of
      <a href="http://www.flickr.com/photos/shrimphead/" target="_blank">shrimphead</a> (<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">CC by-nc-sa</a>)
      <a href="http://www.flickr.com/photos/milesbeyondthemoon/" target="_blank">ms.bailey</a> (<a href="http://creativecommons.org/licenses/by/2.0/" target="_blank">CC by</a>)
    </div>
  </div>
</div>

<div id="nav">
  <a href="/">Home</a>
  <a href="/categories.html">Categories</a>
  <a href="{{ site.facebook_url }}" target="_blank">Facebook</a>
  <a href="{{ site.twitter_url }}" target="_blank">Twitter</a>
  <!-- <a href="{{ site.itunes_url }}" target="_blank">Podcast</a> -->
</div>
