<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/public/images/avatar.png" alt="" width="150" style="display: inline-block;" />
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.facebook_url }}">Facebook</a>
      <a class="sidebar-nav-item" href="{{ site.twitter_url }}">Twitter</a>
      <a class="sidebar-nav-item" href="{{ site.soundcloud_url }}">Podcast</a>
    </nav>

    <small>&copy; {{ site.time | date: '%Y' }} All rights reserved</small>
  </div>
</div>
