<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/public/images/avatar.png" alt="" width="150" style="display: inline-block;" />
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Blog</a>
      <a class="sidebar-nav-item" href="/work-in-progress">Work in Progress</a>
      <a class="sidebar-nav-item" href="/podcast">Podcast</a>
      <a class="sidebar-nav-item" href="/publications">Publications</a>
      <a class="sidebar-nav-item" href="{{ site.facebook_url }}">Facebook</a>
      <a class="sidebar-nav-item" href="{{ site.twitter_url }}">Twitter</a>
    </nav>

    <small>&copy; {{ site.time | date: '%Y' }} All rights reserved</small>
  </div>
</div>
