<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrap">

      {% include header.html %}

      <div id="content">

        <div id="contentleft">
          {{ content }}
        </div>

        {% include sidebar.html %}

      </div>

      {% include footer.html %}

    </div>


    <script type="text/javascript">
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");
    </script>
    
  </body>

</html>
